include layout
include index
include jumbotron
block main-content
  .section
          .container 
            .well
              form.form-horizontal(name="/signup", method="post")
                fieldset
                  legend Input info
                  .form-group
                    label.col-md-2.control-label(for="user") User
                    .col-md-10
                      select.form-control(name="user")
                        option(value='dragon', selected=dragon) Dragon
                        option(value='knighthawk', selected=nighthawk) Nighthawk
                        option(value='bozo', selected=bozo) Bozo
                  .form-group
                    label.col-md-2.control-label(for="minutes") Minutes
                    .col-md-10
                      input.form-control(name="minutes", type="text", placeholder="minutes", required)
                  .form-group
                    label.col-md-2.control-label(for="comments") Comments
                    .col-md-10
                      input.form-control(name="comments", type="text", placeholder="comments",  required)
                  .form-group
                    .col-md-10.col-md-offset-2
                      .pull-right
                        button.btn.btn-primary Submit
                        | &nbsp;
                        a.btn.btn-default(href="/") Cancel