include layoutold
| Login
br
br
.div(style="float: left;") Username
  br
  .input#username(type='text', value='')
div(style="float: left;") Password
  br
  input#username(type='password', value='')
div(style="float: left;")
  br
  input#btnSignin(type='button', value='Login')
br
br
hr