include layoutold
.div
	.container
		.row.col-xs-12
		.div.col-xs-2.col-sm-1(style="left:30px;") Filter
		.div.col-xs-2.col-sm-2
			- var selection = user
			case selection
				when "Dragon"
					select.form-control(name="user" id="douglas" style="left:0px")
						option(value='Dragon', selected) Dragon
						option(value='Nighthawk') Nighthawk
						option(value='Bozo') Bozo
				when "Nighthawk"
					select.form-control(name="user" id="douglas" style="left:0px")
						option(value='Dragon') Dragon
						option(value='Nighthawk', selected) Nighthawk
						option(value='Bozo') Bozo
				when "Bozo"
					select.form-control(name="user" id="douglas" style="left:0px")
						option(value='Dragon') Dragon
						option(value='Nighthawk') Nighthawk
						option(value='Bozo', selected) Bozo
		.div.col-xs-1.col-sm-1(style="float:left;") Sort
		.div.col-xs-2.col-sm-2(style="float:left")
			- var selection = user
			case selection
				when "Dragon"
					select.form-control(name="user" id="douglas" style="left:30px")
						option(value='Dragon', selected) Dragon
						option(value='Nighthawk') Nighthawk
						option(value='Bozo') Bozo
				when "Nighthawk"
					select.form-control(name="user" id="douglas" style="left:30px")
						option(value='Dragon') Dragon
						option(value='Nighthawk', selected) Nighthawk
						option(value='Bozo') Bozo
				when "Bozo"
					select.form-control(name="user" id="douglas" style="left:30px")
						option(value='Dragon') Dragon
						option(value='Nighthawk') Nighthawk
						option(value='Bozo', selected) Bozo
		.div.col-md-10
			p
				table.table.table-hover.table-striped.table-bordered.top-padding-med
					tr
						th.text-center Date
						th User
						th Minutes
						th Comments
						th.text-center Delete?
							each entry, index in entrys
								tr 
									td.text-center
										a(href="/entryedit/" + entry._id + "") test
									td=entry.user
									td=entry.minutes
									td=entry.comments
									td.text-center
										a.button.btn.btn-danger(href="/entrydelete/" + entry._id + "") Delete
