include layoutold
include header
include jumbotron
block main-content
-function getDate(newDate) {
-var dateNow = newDate;
-var dd = dateNow.getDate()+1;
-var monthSingleDigit = dateNow.getMonth() + 1
- var mm = monthSingleDigit < 10 ? '0' + monthSingleDigit : monthSingleDigit;
-var yy = dateNow.getFullYear().toString();
-var formattedDate = yy + '-' + mm + '-' + dd;
- return formattedDate;
-}
each entry, index in entrys
    .section
      .container 
        .well
          form.form-horizontal(id="entryform", method="post")
            fieldset
              legend Edit entry
              .form-group
                 label.col-md-2.control-label(for="timestamp") Date
                 .col-md-5
                  input.form-control(name="timestamp", type="date", value='#{getDate(entry.timestamp)}')     
              .form-group
                label.col-md-2.control-label(for="user") User
                .col-md-10
                  - var selection = entry.user
                    case selection
                      when "Dragon"
                        select.form-control(name="user")
                          option(value='Dragon', selected) Dragon
                          option(value='Nighthawk') Nighthawk
                          option(value='Bozo') Bozo
                      when "Nighthawk"
                        select.form-control(name="user")
                          option(value='Dragon') Dragon
                          option(value='Nighthawk', selected) Nighthawk
                          option(value='Bozo') Bozo
                      when "Bozo"
                        select.form-control(name="user")
                          option(value='Dragon') Dragon
                          option(value='Nighthawk') Nighthawk
                          option(value='Bozo', selected) Bozo
              .form-group
                label.col-md-2.control-label(for="minutes") Minutes
                .col-md-10
                  input.form-control(name="minutes", type="number", value=entry.minutes, required, data-required-msg='Minutes is required')
              .form-group
                label.col-md-2.control-label(for="comments") Comments
                .col-md-10
                  input.form-control(name="comments", type="  text", value=entry.comments,  required, data-required-msg='Comments are required')
              .form-group
                .col-md-10.col-md-offset-2
                  .pull-right
                    button.btn.btn-primary Save
                    | &nbsp;
                    a.button.btn.btn-danger(href="/entrydelete/" + entry._id + "") Delete
                    | &nbsp;
                    a.btn.btn-default(href="/entrylist") Cancel 