.navbar.navbar-default.navbar-fixed-top
  .container
  .navbar-header
    a.navbar-brand(href="/") Meditation Tracker - Super Power Training
  .navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/homeold" class="titlelink") Home
      li
        a(href="/entryinput") Input
      li
        a(href="/entrylistSorted/All") List Entries
      li
        a(href="/logout") Logout