include layout
include index
include jumbotron
- function formatJournal(machine, directory, comments, dateString){
	//if it's already a date object and not a string you don't need this line:
	-var date = new Date(dateString);
	-var d = date.getDate();
	-var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
	-var m = monthNames[date.getMonth()];
	-var y = date.getFullYear();
	-return machine + "-" + directory + "-" + comments + "-" + d+' '+m+' '+y;
-}

block content
	h1= title
	h2 Doug this is cool really
	ul
		each journal, index in journals
			li #{formatJournal(journal.machine, journal.directory, journal.comments, journal.timestamp)}