extends layout

block content
	h1= title
	h2 Doug this is cool really
	ul
		each journal, index in journals
			- landed = new Date(journal.timestamp)
			li= journal.machine + ': ' + journal.directory + '-' + journal.comments + " - " + landed