include layout
include index
include jumbotron
block main-content
  each journal, index in journals
    .section
      .container 
        .well
          form.form-horizontal(name="/signup", method="post")
            fieldset
              legend Edit Journal
              .form-group
                label.col-md-2.control-label(for="machine") Machine
                .col-md-10
                  input.form-control(name="machine", type="text", value=journal.machine, required)
              .form-group
                label.col-md-2.control-label(for="directory") Directory
                .col-md-10
                  input.form-control(name="directory", type="text", value=journal.directory, required)
              .form-group
                label.col-md-2.control-label(for="projectname") Project Name
                .col-md-10
                  input.form-control(name="projectname", type="text", value=journal.project,  required)
              .form-group
                label.col-md-2.control-label(for="comments") Comments
                .col-md-10
                  input.form-control(name="comments", type="text", value=journal.comments,  required)
              .form-group
                .col-md-10.col-md-offset-2
                  .pull-right
                    button.btn.btn-primary Save
                    | &nbsp;
                    a.button.btn.btn-danger(href="/journaldelete/" + journal._id + "") Delete
                    | &nbsp;
                    a.btn.btn-default(href="/") Cancel