.container
	.jumbotron
		h2 Meditation Tracker - Welcome #{user.username} !!!
		p Welcome to the Doug Meditation Tracking App! Thanks for coming back #{user.username} to keep track of practicing your super power.