doctype
html
	head
	title DougWebAppWorking
	link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
	link(rel="stylesheet", href="/public/bootstrap.css")
	body
	doug in body here
	block content