doctype
html
	head
	title DougWebAppWorking
	link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
	link(rel="stylesheet", href="/bootstrap.min.css")
	<!-- Latest compiled and minified CSS -->

	body
	doug in layout body here
	block content