doctype
html
	head
		title DougWebAppWorking
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/bootstrap.min.css")
		link(rel="stylesheet", href="/css/site.css")

	body
	doug in layout body here
		.navbar.navbar-inverse.navbar-fixed-top
			.container
			.navbar-header
				a.navbar-brand(href="/") Doug's Really Cool App
				h6 -Extreme Tech Training
				.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="/") Home
					li
						a(href="/courses") Courses
					li
						a(href="/instructors") Instructors
block content