doctype
html
	head
		title MeditationTracker
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/bootstrap.min.css")
		link(rel="stylesheet", href="/css/site.css")

	body