include layout

block content
	h1= title
	h2 Doug this is from the canned data
	ul
		each journal, index in journals
			- journal = journal.getInformation()
			li= journal.machine + ': ' + journal.directory + '-' + journal.comments