body {
  padding-top: 30px;
}
.jumbotron {
    padding: 2px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200px;
    line-height: 2.14286;
    color: inherit;
    background-color: #d7e0e2;
    margin-bottom:0;
}
.navbar-default {
    background-color: #58D3F7;
    border-color: #190707;
}
.navbar-inverse {
    background-color: #F5A9BC;
    border-color: #128F76;
}
.navbar-default .navbar-nav>li>a {
    color: #0000FF;
}
.navbar-default .navbar-brand {
    font-size: 20px;
    color: #333;
}
th {
  font-size: 15px;
  color: #2ECCFA;
}

h6 {
      color: #2ECCFA;
}
h1 {
  color:#190707;
}
h6 {
  color:#190707;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
